name: Tests

on:
  workflow_call:
  workflow_dispatch:

jobs:
  tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Setup
        uses: ./.github/actions/setup

      - name: Run unit tests
        run: yarn test
